.camera1 {
  transform: scale(0.4);
  transform-origin: top left;

  top: 0;
  left: -200px;
}

.camera1-bg {
  width: 1920px;
  height: 1080px;

  transform: scale(0.4);
  transform-origin: top left;

  background: url('/assets/streaming/camera-mask-fabi-bg.png');

  top: 0;
  left: -200px;
}
