<div
  id="root"
  class="is-header-blur min-h-100vh grow bg-slate-50 dark:bg-navy-900"
>
  <div class="sidebar">
    <div class="main-sidebar">
      <div
        class="flex h-full w-full flex-col items-center border-r border-slate-150 bg-white dark:border-navy-700 dark:bg-navy-800"
      >
        <div class="flex pt-4">
          <img
            src="assets/layout/logo.png"
            class="h-11 w-11 transition-transform duration-500 ease-in-out hover:rotate-[360deg]"
          />
        </div>
        <div
          class="is-scrollbar-hidden flex grow flex-col space-y-4 overflow-y-auto pt-6"
        >
          <a
            class="flex h-11 w-11 items-center justify-center rounded-lg outline-none transition-colors duration-200 hover:bg-primary/20 focus:bg-primary/20 active:bg-primary/25 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25"
            *ngFor="let item of menu"
          >
            <fa-icon [icon]="item.icon" size="xl"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav class="header before:bg-white dark:before:bg-navy-750">
    <div
      class="header-container relative flex w-full bg-white dark:bg-navy-750 print:hidden"
    ></div>
  </nav>
  <main class="main-content px-[var(--margin-x)] pb-8">
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
